@tailwind base;
@tailwind components;
@tailwind utilities;

/* color variables*/
.swatch_bg-black {
  background: #080809;
}
.swatch_bg-brown {
  background: #18181d;
}
.swatch_bg-secondary {
  background: #192cfd;
}
.swatch_bg-secondaryDark {
  background: #141c52;
}
.swatch_bg-secondaryLight {
  background: #234da3;
}
.swatch_6 {
  background: #c88b85;
}
.swatch_bg-primary {
  background: #d7d1cf;
}
.swatch_bg-orange {
  background: #c52e1d;
}

.swatch_text-black {
  color: #080809;
}
.swatch_text-brown {
  color: #5b4040;
}
.swatch_text-secondary {
  color: #192cfd;
}
.swatch_text-secondaryDark {
  color: #141c52;
}
.swatch_text-secondaryLight {
  color: #234da3;
}
.swatch_6 {
  color: #c88b85;
}
.swatch_text-primary {
  color: #d7d1cf;
}
.swatch_text-orange {
  color: #c52e1d;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #080809;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.progress_div {
  width: 70%;
  margin: auto;
  height: 0.2rem;
  background-color: rgb(55, 54, 61);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);

  border-radius: 4rem;
  position: relative;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
